<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description"></textarea>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Duración</mat-label>
    <input matInput formControlName="duration">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Nivel</mat-label>
    <mat-select>
        <mat-option value="Principiante">Principiante</mat-option>
        <mat-option value="Intermedio">Intermedio</mat-option>
        <mat-option value="Avanzado">Avanzado</mat-option>
    </mat-select >
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput formControlName="price">
</mat-form-field>